*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #0b31a4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    }
.navbar-light .navbar-nav .nav-link:hover{
    color: #061950;

    }
    
    .banner{
        background-image: url(../images/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    .banner h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 69px;
    }
    .hg{
        align-items: center;
        height: 90vh;
    }
    .icon{
        
position: absolute;
        
color: #fff;
        
left: 50%;
        
top: 75%;
        
font-size: 30px;
        
transform: translateX(-50%);
animation: updown 1s linear infinite;
animation-direction:alternate ;
    }
@keyframes updown{
    0%{
        top: 75%;
    }
    100%{
        top: 80%;
    }
}
.who_we_are{

}
.who_we_are span{

display: inline-block;

background: #f05428;

height: 5px;
width: 0px;
transition: .5s all ease-in-out;
}
.who_we_are:hover span{
    width: 50px;
}


.who_we_are h1{
    
color: #0b31a4;
    
text-transform: uppercase;
    
font-size: 36px;
}
.who_we_are p{

color: #adbbbd;
}
.what_we_do{
    background-color: #f7f8f8;
    background-image: url(../images/bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1050px;
}
.heading span{
    padding-bottom: 5;
    display: inline-block;
    background: #f05428;
    height: 5px;
    width: 0px;
    margin-bottom: 10px;
    transition: .5s all ease-in-out;
}
.what_we_do:hover .heading span{
    width: 50px; 
    transition: .5s all ease-in-out;
}
.heading h1{
    
color: #0b31a4;
    
text-transform: uppercase;
    
font-size: 36px;
    
font-weight: 400;
}
.image{
    position: relative;
}
.image::after{
    content: '';
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,28377e+100&0+0,1+69,1+93 */
background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(37,65,134,1) 69%, rgba(39,57,128,1) 93%, rgba(40,55,126,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(37,65,134,1) 69%,rgba(39,57,128,1) 93%,rgba(40,55,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(37,65,134,1) 69%,rgba(39,57,128,1) 93%,rgba(40,55,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#28377e',GradientType=0 ); /* IE6-9 */
    height: 0%;
    width: 100%;
    left: 0%;
    bottom: 0%;
    opacity: .5;
    transition: .5s all ease-in-out;
}
.image:hover::after{
    height: 100%;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s all ease-in-out;
}
.text h1{
    
color: #fff;
    
font-size: 26px;
    
text-transform: uppercase;
}
.image:hover .text{
    opacity: 1;

}
.image_icon{
    
position: absolute;
    
left: 45%;
    
top: 75%;
    
color: #fff;
    
transform: translateX(-50%);
    
font-size: 50px;
opacity: 0;
transition: .5s all ease-in-out;
}
.image:hover .image_icon{
opacity: 1;
left: 50%;
}
.our_attorneys{
    background-image: url(..//images/attorneys_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;

}
.our_attorneys span{
    background-color: #f05428;
    width: 0px;
    height: 5px;
    display: block;
    transition: .5s all ease-in-out;
    margin-bottom: 10px;
}
.our_attorneys:hover span{
    width: 50px;
   
}
.our_attorneys h1{
    
font-size: 36px;
    
text-transform: uppercase;
    
color: #fff;
    
font-weight: 300;
}
.our_attorneys p{
    
color: #929dcf;
    
padding: 14px 0;
}
.our_attorneys a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: #f05428;
    
font-size: 18px;
}
.our_attorneys a:hover{
    color: #a85944;
    transition: .5s all ease-in-out;
}
.designation{
    position: absolute;

    color: #fff;
    
    text-transform: uppercase;
        
    left: 20%;
        
    top: 80%;
    transition: .5s all ease-in-out;
    opacity: 0;
}
.image:hover .designation{
    top: 75%;
    opacity: 1;
}
.the_language:hover .heading span{
    width: 50px;
}
.language{

}
.language h2{

color: #0b31a4;

text-transform: uppercase;

padding: 10px 0;

font-size: 24px;
}
.language p{

color: #b1b0b1;

font-size: 14px;
}
.language a{text-decoration: none;text-transform: uppercase;color: #f05428;font-size: 14px;}
.contact{
    background-color: #28377e;

}
.language a:hover{
    color: #a85944;
    transition: .5s all ease-in-out;
}
.contact:hover .heading span{
    width: 50px;
}
form input{
    
background: transparent !important;
    
border: none !important;
    
border-bottom: 1px solid #a29d9d !important;
    
border-radius: 0 !important;
caret-color: #fff !important;
}
form input:focus{
    box-shadow: none !important;
}
form input::placeholder{
    color: #fff !important;
}
form textarea{
    background: transparent !important;
    
border: none !important;
    
border-bottom: 1px solid #a29d9d !important;
    
border-radius: 0 !important;
caret-color: #fff !important;
}
form textarea{
    box-shadow: none !important;
}
form textarea::placeholder{
    color: #fff !important;}
form input[type='submit']{
        
color: #fff;
        
font-size: 14px;
        
text-transform: capitalize;
        
background: #f47b3b !important;
        
border: 3px solid #f47637 !important;
        
margin: 20px 0;
        
padding: 10px 50px;
        
transition: .5s all ease-in-out;
    }
    form input[type='submit']:hover{
        background: transparent !important;
        transition: .5s all ease-in-out;
    }
    .contact .heading h1{
        color: #fff;
    } 
    .bottom{
        background-color: #0c1234;
        padding: 6px;
    }
    .bottom h4{
        color: #616ca8;
        padding: 35px 0;
        font-size: 14px;
    }
    .social_icon{

/* justify-content: end; */

/* font-size: 30px; */

padding: 19px;
}
    .social_icon i{

font-size: 18px;

color: #fff;

padding: 14px;
}
.social_icon i:hover{
    color: #f47b3b;
    transition: .5s all ease-in-out;
}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }